<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" />
    <module name="spring-opa" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="demo.App" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>